<div class="layout">
  <aside class="sidebar">
    <div class="sidebar-brand">VRS</div>
    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>

      @if (auth.roleName() === 'SUPER_ADMIN') {
        <a routerLink="/empresas" routerLinkActive="active">Empresas</a>
        <a routerLink="/users" routerLinkActive="active">Usuarios</a>
        <a routerLink="/sucursales" routerLinkActive="active">Sucursales</a>
        <a routerLink="/vehiculos" routerLinkActive="active">Vehículos</a>
        <a routerLink="/categorias-vehiculos" routerLinkActive="active">Categorías</a>
        <a routerLink="/roles" routerLinkActive="active">Roles</a>
      } @else if (auth.roleName() === 'ADMIN') {
        <a routerLink="/empresas" routerLinkActive="active">Mi empresa</a>
        <a routerLink="/users" routerLinkActive="active">Empleados</a>
        <a routerLink="/sucursales" routerLinkActive="active">Sucursales</a>
        <a routerLink="/vehiculos" routerLinkActive="active">Vehículos</a>
        <a routerLink="/categorias-vehiculos" routerLinkActive="active">Categorías</a>
      } @else if (auth.roleName() === 'EMPLEADO') {
        <a routerLink="/empresas" routerLinkActive="active">Mi empresa</a>
        <a routerLink="/sucursales" routerLinkActive="active">Sucursales</a>
        <a routerLink="/vehiculos" routerLinkActive="active">Mi flota</a>
      }

      @if (auth.currentUser()?.perfil?.id; as pid) {
        <a [routerLink]="['/perfiles', pid, 'edit']" routerLinkActive="active">
          Mi Perfil
        </a>
      }
    </nav>
    <div class="sidebar-footer">
      <span class="user-email">{{ auth.currentUser()?.email }}</span>
      <button type="button" class="btn-logout" (click)="auth.logout()">
        Cerrar sesión
      </button>
    </div>
  </aside>
  <main class="content">
    <router-outlet />
  </main>
</div>
